# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# --- 新增规则 ---
# IDE 生成目录
/.idea/
/out/
/.gitee/

# 系统文件
.DS_Store
*.iml

# 本地环境配置
*.env
*.bak
